{% extends 'base.html.twig' %}
{% set active_page = 'forecast' %}
{% block body %}

<div class="span9">
  <div class="hero-unit">
    <h2>Prognoza</h2>
    <img src="http://new.meteo.pl/um/metco/mgram_pict.php?ntype=0u&row=436&col=181&lang=pl" />
  </div>
</div>

{% endblock %}